:root {
    --dark-blue-hover: hsl(235, 46%, 30%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --exercise: hsl(145, 58%, 55%);
    --main-color: hsl(226, 43%, 10%);
    --pale-blue: hsl(236, 100%, 87%);
    --play: hsl(195, 74%, 62%);
    --profile: hsl(246, 80%, 60%);
    --self-care: hsl(43, 84%, 65%);
    --social: hsl(264, 64%, 52%);
    --study: hsl(348, 100%, 68%);
    --work: hsl(15, 100%, 70%);
  }
  
body {
    background-color: var(--main-color);
}

.main {
    align-content: center;
    background-color: var(--main-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: calc(100vh - 15px);
    padding-bottom: 75px;
    padding-top: 20px;
  }

.card {
    color: white;  
    font-family: 'Rubik', sans-serif;
    width: 250px;
    padding-top: 40px;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
}

.Play {
    background: url(./assets/images/icon-play.svg) 85% -10% no-repeat  hsl(348, 100%, 68%);
}

.Work {
    background: url(./assets/images/icon-work.svg) 85% -10% no-repeat  hsl(15, 100%, 70%);
}

.Study {
    background: url(./assets/images/icon-study.svg) 85% -10% no-repeat  hsl(348, 100%, 68%);
}

.Exercise {
    background: url(./assets/images/icon-exercise.svg) 85% -10% no-repeat  hsl(145, 58%, 55%);
}

.Social {
    background: url(./assets/images/icon-social.svg) 85% -10% no-repeat  hsl(264, 64%, 52%);
}

.SelfCare {
    background: url(./assets/images/icon-self-care.svg) 85% -10% no-repeat  hsl(43, 84%, 65%);
}




.card-description {
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    padding: 10%;
    flex: 1 1 auto;
    
}

.activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
}

.report {
    grid-row-start: 1;
    grid-row-end: 3;
    
    background-color: var(--profile);
    border-radius: 15px;
    color: white;
    
    display: flex;
    flex-flow: column;
    height: 100%;

    flex: 0 1 auto;

    
}

.avatar {
    border-radius: 40px;
    height: 80px;
    margin-bottom: 40px;
    width: 80px;
    border: 3px solid white;
}

.period {
    background-color: var(--dark-blue);
    flex: 1 1 auto;
    border-radius: 15px;
    align-content: center;
    padding: 40px;
}

.period-title {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0px;
    transition: color 0.3s;
  }

.profile {
    padding: 30px;
    
}


.profile .title {
    color: var(--pale-blue);
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
}

.profile-name {
    font-size: 2.4rem;
    font-weight: 300;
    
}

.btn-period {
    border: none;
    background: none;
    color: grey;
    cursor:pointer;
}

.active {
   color: white;
}